# Frontend environment variables
NEXT_PUBLIC_STELLAR_NETWORK=TESTNET
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_USDC_ISSUER=GBBD47IF6LWK7P7MJVSCUFI274NM5YCFA247JEC2HGJLMD2BDQD2XUJR
NEXT_PUBLIC_INVOICE_CONTRACT_ADDRESS=
NEXT_PUBLIC_REGISTRY_CONTRACT_ADDRESS=
